@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poor Story";
}
.splash-container {
  position: relative;
}

.banner {
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: 0.65;
}

.splash {
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.title,
.subtitle {
  position: relative;
  text-align: center;
  top: 35vh;
}

.title {
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 120px;
  -webkit-text-stroke: 3px white;
  color: black;
}

.subtitle {
  font-size: 30px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
  border-radius: 50px;
  background: #ff962e;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 0px;
  color: white;
}

.body-container {
  background: linear-gradient(134deg, #8fd9d1 -11.3%, #ccf7d5 62.55%);
}

h1 {
  padding-top: 20px;
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 20px;
}

.search {
  background-color: white;
  font-size: 30px;
  color: black;
}

Button {
  height: 80px;
  margin-bottom: 30px;
}

Button:focus {
  color: grey;
}

.image-container {
  border-radius: 50px;
  background: #fff;
  padding: 10px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.caption {
  margin-top: 15px;
  text-align: center;
  font-weight: 600px;
}

.next-button {
  border-radius: 20px;
  background: linear-gradient(269deg, #0ecbe6 4.51%, #54faff 81.09%);
  font-weight: 650;
  font-size: 26px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-top: 15px;
  margin-right: auto;
  height: 50px;
}

.loading {
  align-items: center;
  width: 100%;
  height: 50%;
  margin-bottom: 50px;
}

.story-img {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border-radius: 20px;
}

.full-story {
  /* margin-bottom: 70px; */
  color: black;
}

@layer base {
  :root {
    --convex-yellow: #f3b01c;
    --convex-red: #ee342f;
    --convex-purple: #8d2676;

    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;

    font-size: 22px;
  }

  a {
    color: var(--convex-yellow);
  }

  .convex-yellow {
    color: var(--convex-yellow);
  }
  .convex-red {
    color: var(--convex-red);
  }
  .convex-purple {
    color: var(--convex-purple);
  }

  @media screen and (min-width: 800px) {
    :root {
      font-size: 26px;
    }
  }

  @media screen and (min-width: 1000px) {
    :root {
      font-size: 30px;
    }
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: 240 10% 3.9%;
      --foreground: 0 0% 98%;

      --card: 240 10% 3.9%;
      --card-foreground: 0 0% 98%;

      --popover: 240 10% 3.9%;
      --popover-foreground: 0 0% 98%;

      --primary: 0 0% 98%;
      --primary-foreground: 240 5.9% 10%;

      --secondary: 240 3.7% 15.9%;
      --secondary-foreground: 0 0% 98%;

      --muted: 240 3.7% 15.9%;
      --muted-foreground: 240 5% 64.9%;

      --accent: 240 3.7% 15.9%;
      --accent-foreground: 0 0% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 0 0% 98%;

      --border: 240 3.7% 15.9%;
      --input: 240 3.7% 15.9%;
      --ring: 240 4.9% 83.9%;
    }
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
